In [58]:
import numpy as np
import pandas as pd
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error
from sklearn.model_selection import train_test_split

In [59]:
cd C:\Users\SATHAKI PROSAD\Desktop

C:\Users\SATHAKI PROSAD\Desktop

In [60]:
h = pd.read_csv('h.csv')

In [61]:
h

,sale_date,HPI,sale_price,city,land_val,sqft,stories,beds,bath_full,bath_3qtr,...,gara_sqft,wfnt,golf,greenbelt,noise_traffic,view_rainier,view_olympics,view_cascades,view_territorial,submarket
0,05-01-1999,156.666667,235000,KING COUNTY,46000,990,1.0,2,1,0,...,0,0,0,0,0,0,0,0,2,H
1,04-01-1999,195.333333,293000,KING COUNTY,66000,2020,2.0,3,1,1,...,480,0,0,0,2,0,0,0,0,R
2,08-01-1999,109.333333,164000,SEATTLE,66000,1100,1.0,2,1,0,...,0,0,0,0,0,0,0,0,0,B
3,07-01-1999,180.000000,270000,BOTHELL,73000,2050,1.5,5,1,0,...,0,0,0,0,2,0,0,0,0,Q
4,19-01-1999,116.666667,175000,SEATTLE,35000,2160,1.0,4,1,1,...,0,0,0,0,0,0,0,0,0,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560213,17-12-2022,1166.666667,1750000,SEATTLE,853000,2900,1.5,4,1,1,...,0,0,0,0,1,0,0,0,0,D
560214,15-12-2022,833.333333,1250000,SEATTLE,497000,1730,1.0,3,1,1,...,0,0,0,0,0,0,0,0,0,B
560215,16-12-2022,845.933333,1268900,SEATTLE,359000,3050,3.0,4,2,1,...,400,0,0,0,0,0,0,0,0,B
560216,14-12-2022,1533.333333,2300000,BELLEVUE,742000,3400,2.0,4,2,1,...,460,0,0,0,0,0,0,3,4,R
560217,16-12-2022,1533.333333,2300000,BELLEVUE,742000,3400,2.0,4,2,1,...,460,0,0,0,0,0,0,3,4,R

In [62]:
h.drop(["sale_date"],axis=1,inplace=True)

In [63]:
h

,HPI,sale_price,city,land_val,sqft,stories,beds,bath_full,bath_3qtr,bath_half,...,gara_sqft,wfnt,golf,greenbelt,noise_traffic,view_rainier,view_olympics,view_cascades,view_territorial,submarket
0,156.666667,235000,KING COUNTY,46000,990,1.0,2,1,0,0,...,0,0,0,0,0,0,0,0,2,H
1,195.333333,293000,KING COUNTY,66000,2020,2.0,3,1,1,1,...,480,0,0,0,2,0,0,0,0,R
2,109.333333,164000,SEATTLE,66000,1100,1.0,2,1,0,0,...,0,0,0,0,0,0,0,0,0,B
3,180.000000,270000,BOTHELL,73000,2050,1.5,5,1,0,1,...,0,0,0,0,2,0,0,0,0,Q
4,116.666667,175000,SEATTLE,35000,2160,1.0,4,1,1,1,...,0,0,0,0,0,0,0,0,0,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560213,1166.666667,1750000,SEATTLE,853000,2900,1.5,4,1,1,1,...,0,0,0,0,1,0,0,0,0,D
560214,833.333333,1250000,SEATTLE,497000,1730,1.0,3,1,1,0,...,0,0,0,0,0,0,0,0,0,B
560215,845.933333,1268900,SEATTLE,359000,3050,3.0,4,2,1,1,...,400,0,0,0,0,0,0,0,0,B
560216,1533.333333,2300000,BELLEVUE,742000,3400,2.0,4,2,1,1,...,460,0,0,0,0,0,0,3,4,R
560217,1533.333333,2300000,BELLEVUE,742000,3400,2.0,4,2,1,1,...,460,0,0,0,0,0,0,3,4,R

In [64]:
h.isnull().sum()

HPI                 0
sale_price          0
city                0
land_val            0
sqft                0
stories             0
beds                0
bath_full           0
bath_3qtr           0
bath_half           0
garb_sqft           0
gara_sqft           0
wfnt                0
golf                0
greenbelt           0
noise_traffic       0
view_rainier        0
view_olympics       0
view_cascades       0
view_territorial    0
submarket           0
dtype: int64

In [65]:
from sklearn.preprocessing import LabelEncoder

In [66]:
lb=LabelEncoder()

In [67]:
h["city"]=lb.fit_transform(h["city"])

In [68]:
h["submarket"]=lb.fit_transform(h["submarket"])

In [69]:
h

,HPI,sale_price,city,land_val,sqft,stories,beds,bath_full,bath_3qtr,bath_half,...,gara_sqft,wfnt,golf,greenbelt,noise_traffic,view_rainier,view_olympics,view_cascades,view_territorial,submarket
0,156.666667,235000,18,46000,990,1.0,2,1,0,0,...,0,0,0,0,0,0,0,0,2,7
1,195.333333,293000,18,66000,2020,2.0,3,1,1,1,...,480,0,0,0,2,0,0,0,0,17
2,109.333333,164000,33,66000,1100,1.0,2,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,180.000000,270000,5,73000,2050,1.5,5,1,0,1,...,0,0,0,0,2,0,0,0,0,16
4,116.666667,175000,33,35000,2160,1.0,4,1,1,1,...,0,0,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560213,1166.666667,1750000,33,853000,2900,1.5,4,1,1,1,...,0,0,0,0,1,0,0,0,0,3
560214,833.333333,1250000,33,497000,1730,1.0,3,1,1,0,...,0,0,0,0,0,0,0,0,0,1
560215,845.933333,1268900,33,359000,3050,3.0,4,2,1,1,...,400,0,0,0,0,0,0,0,0,1
560216,1533.333333,2300000,3,742000,3400,2.0,4,2,1,1,...,460,0,0,0,0,0,0,3,4,17
560217,1533.333333,2300000,3,742000,3400,2.0,4,2,1,1,...,460,0,0,0,0,0,0,3,4,17

In [70]:
h.skew()

HPI                  7.205437
sale_price           7.205437
city                -0.504100
land_val             7.960366
sqft                 1.358735
stories              0.366041
beds                 0.952946
bath_full            0.798974
bath_3qtr            1.182725
bath_half            0.391467
garb_sqft            3.168236
gara_sqft            0.885822
wfnt                 9.237258
golf                12.571219
greenbelt            5.212632
noise_traffic        2.933678
view_rainier        12.697176
view_olympics        7.360302
view_cascades        6.777193
view_territorial     3.345806
submarket           -0.112935
dtype: float64

In [71]:
h["HPI"]=np.cbrt(h["HPI"])

In [72]:
h["Sale_price"]=np.cbrt(h["Sale_price"])

KeyError: 'Sale_price'

In [ ]:
h["land_val"]=np.cbrt(h["land_val"])

In [ ]:
h["sqft"]=np.cbrt(h["sqft"])

In [ ]:
h["stories"]=np.cbrt(h["stories"])

In [ ]:
h["beds"]=np.cbrt(h["beds"])

In [ ]:
h["bath_half"]=np.cbrt(h["bath_half"])

In [ ]:
h["garb_sqft"]=np.cbrt(h["garb_sqft"])

In [ ]:
h["gara_sqft"]=np.cbrt(h["gara_sqft"])

In [ ]:
h["wfnt"]=np.cbrt(h["wfnt"])

In [ ]:
h["golf"]=np.cbrt(h["golf"])

In [ ]:
h["greenbelt"]=np.cbrt(h["greenbelt"])

In [ ]:
h["noise_traffic"]=np.cbrt(h["noise_traffic"])

In [ ]:
h["view_olympics"]=np.cbrt(h["view_olympics"])

In [ ]:
h["view_cascades"]=np.cbrt(h["view_cascades"])

In [ ]:
h["view_territorial"]=np.cbrt(h["view_territorial"])

In [ ]:
corr_hmap=h.corr(method="pearson")
plt.figure(figsize=(15,16))
sns.heatmap(corr_hmap,annot=True)
plt.show() # no multicollinearity found

In [ ]:
from scipy.stats import zscore
z=np.abs(zscore(h))
z

In [73]:
thershold=3 #above 3 is considered as outliers
print (np.where(z>3))

(array([     6,      6,     32, ..., 560217, 560217, 560217], dtype=int64), array([ 6, 12,  6, ..., 18, 19, 21], dtype=int64))

In [74]:
H=h[(z<3).all(axis=1)]

In [75]:
H

,HPI,sale_price,city,land_val,sqft,stories,beds,bath_full,bath_3qtr,bath_half,...,gara_sqft,wfnt,golf,greenbelt,noise_traffic,view_rainier,view_olympics,view_cascades,view_territorial,submarket
0,5.390870,235000,18,46000,990,1.0,2,1,0,0,...,0,0,0,0,0,0,0,0,2,7
1,5.802192,293000,18,66000,2020,2.0,3,1,1,1,...,480,0,0,0,2,0,0,0,0,17
2,4.781721,164000,33,66000,1100,1.0,2,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,5.646216,270000,5,73000,2050,1.5,5,1,0,1,...,0,0,0,0,2,0,0,0,0,16
4,4.886324,175000,33,35000,2160,1.0,4,1,1,1,...,0,0,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560209,7.937005,750000,13,192000,2942,2.0,4,1,1,1,...,960,0,0,0,0,0,0,0,0,8
560210,8.418679,895000,33,440000,1100,1.5,3,2,0,0,...,0,0,0,0,0,0,0,0,0,1
560213,10.527266,1750000,33,853000,2900,1.5,4,1,1,1,...,0,0,0,0,1,0,0,0,0,3
560214,9.410360,1250000,33,497000,1730,1.0,3,1,1,0,...,0,0,0,0,0,0,0,0,0,1
560215,9.457551,1268900,33,359000,3050,3.0,4,2,1,1,...,400,0,0,0,0,0,0,0,0,1

In [76]:
x = h.drop('HPI', axis=1).copy()

In [77]:
x

,sale_price,city,land_val,sqft,stories,beds,bath_full,bath_3qtr,bath_half,garb_sqft,gara_sqft,wfnt,golf,greenbelt,noise_traffic,view_rainier,view_olympics,view_cascades,view_territorial,submarket
0,235000,18,46000,990,1.0,2,1,0,0,0,0,0,0,0,0,0,0,0,2,7
1,293000,18,66000,2020,2.0,3,1,1,1,0,480,0,0,0,2,0,0,0,0,17
2,164000,33,66000,1100,1.0,2,1,0,0,0,0,0,0,0,0,0,0,0,0,1
3,270000,5,73000,2050,1.5,5,1,0,1,0,0,0,0,0,2,0,0,0,0,16
4,175000,33,35000,2160,1.0,4,1,1,1,0,0,0,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560213,1750000,33,853000,2900,1.5,4,1,1,1,0,0,0,0,0,1,0,0,0,0,3
560214,1250000,33,497000,1730,1.0,3,1,1,0,180,0,0,0,0,0,0,0,0,0,1
560215,1268900,33,359000,3050,3.0,4,2,1,1,0,400,0,0,0,0,0,0,0,0,1
560216,2300000,3,742000,3400,2.0,4,2,1,1,0,460,0,0,0,0,0,0,3,4,17
560217,2300000,3,742000,3400,2.0,4,2,1,1,0,460,0,0,0,0,0,0,3,4,17

In [78]:
y = h['HPI'].copy()
y

0          5.390870
1          5.802192
2          4.781721
3          5.646216
4          4.886324
            ...
560213    10.527266
560214     9.410360
560215     9.457551
560216    11.531316
560217    11.531316
Name: HPI, Length: 560218, dtype: float64

In [79]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)

In [80]:
lm=LinearRegression()

In [81]:
lm.fit(x_train,y_train)

LinearRegression()

In [82]:
lm.coef_

array([ 2.57733803e-06,  9.34415468e-03, -5.44089971e-08,  1.76742044e-04,
        1.60664252e-01, -9.26036654e-03,  2.16586938e-02,  6.14639215e-02,
       -3.07807745e-02,  1.01724315e-04, -3.75806755e-05, -5.06969575e-02,
        2.75011400e-02,  1.00312920e-01,  1.05770250e-03, -3.04232607e-02,
        6.15115851e-02,  2.99062736e-02,  1.68326715e-02,  7.11654615e-03])

In [83]:
lm.intercept_

4.537664120732796

In [84]:
x.columns

Index(['sale_price', 'city', 'land_val', 'sqft', 'stories', 'beds',
       'bath_full', 'bath_3qtr', 'bath_half', 'garb_sqft', 'gara_sqft', 'wfnt',
       'golf', 'greenbelt', 'noise_traffic', 'view_rainier', 'view_olympics',
       'view_cascades', 'view_territorial', 'submarket'],
      dtype='object')

In [85]:
lm.score(x_train,y_train)

0.854135283209907

In [86]:
#prediting the value
pred=lm.predict(x_test)
print("predicted result price",pred)
print("Actual Price",y_test)

predicted result price [5.61447951 6.223605   6.17700381 ... 6.80779959 6.45899872 9.33209267]
Actual Price 17490     4.885859
399195    5.815036
53907     6.156383
26084     5.192494
5819      7.113787
            ...
368070    9.521956
143448    5.351975
417887    6.531732
327010    6.928987
27446     8.735805
Name: HPI, Length: 112044, dtype: float64

In [87]:
print("Error")
print("Mean Absolute Error:",mean_absolute_error(y_test,pred))
print("Mean Squared Error:",mean_squared_error(y_test,pred))
print("Root Mean Squared Error:",np.sqrt(mean_squared_error(y_test,pred)))

Error
Mean Absolute Error: 0.39800919148768865
Mean Squared Error: 0.3467371934365006
Root Mean Squared Error: 0.5888439465906911

In [88]:
from sklearn.metrics import r2_score
print(r2_score(y_test,pred))

0.8506729527219944

In [89]:
# regularisation
from sklearn.linear_model import Lasso,Ridge

In [90]:
ls=Lasso(alpha=.0001)
rd=Ridge(alpha=4)

In [91]:
ls.fit(x_train,y_train)
print(ls.score(x_train,y_train))
predlasso=ls.predict(x_test)
print(mean_squared_error(y_test,predlasso))

0.8541341078913723
0.3467409998260632

In [107]:
ls.coef_

array([ 2.57743590e-06,  9.35430631e-03, -5.44619629e-08,  1.77227494e-04,
        1.59976237e-01, -9.05803063e-03,  2.10196246e-02,  6.08908682e-02,
       -3.02397300e-02,  1.01854754e-04, -3.73138864e-05, -5.05900003e-02,
        1.06614966e-02,  9.68808916e-02,  6.56630197e-04, -2.82320024e-02,
        6.06485433e-02,  2.88697800e-02,  1.68626857e-02,  7.11643754e-03])

In [100]:
  # choosing the cross validation instead of arbitary choosing alphas=4
from sklearn.model_selection import RandomizedSearchCV
alphavalue={"alpha":[1,0.1,0.01,0.001,0.0001,0]}
model=Ridge()
rsearch=RandomizedSearchCV(estimator=model,param_distributions=alphavalue)
rsearch.fit(x_train,y_train)
print(rsearch)
print(rsearch.best_score_)
print(rsearch.best_estimator_.alpha)
print(rsearch.best_params_)

D:\ python\lib\site-packages\sklearn\model_selection\_search.py:292: UserWarning: The total space of parameters 6 is smaller than n_iter=10. Running 6 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

RandomizedSearchCV(estimator=Ridge(),
                   param_distributions={'alpha': [1, 0.1, 0.01, 0.001, 0.0001,
                                                  0]})
0.8537678743255576
1
{'alpha': 1}

In [106]:
# so alpha=1 is the best estimator
ridge = Ridge(alpha = 1, normalize = True)
ridge.fit(x_train, y_train)             
pred = ridge2.predict(x_test)           
print(pd.Series(ridge.coef_, index = x.columns))

sale_price          1.154973e-06
city                6.460737e-03
land_val            3.429630e-07
sqft                1.753180e-04
stories             1.428640e-01
beds                3.729440e-02
bath_full           8.247139e-02
bath_3qtr           1.084619e-01
bath_half           4.210962e-02
garb_sqft           6.207636e-05
gara_sqft           3.605297e-05
wfnt                3.058039e-02
golf                1.363309e-01
greenbelt           8.273263e-02
noise_traffic       2.966730e-03
view_rainier        1.185114e-02
view_olympics       8.928471e-02
view_cascades       5.491670e-02
view_territorial    8.856066e-02
submarket           3.687858e-03
dtype: float64

D:\ python\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), Ridge())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * n_samples.
  warnings.warn(

In [102]:
# giving same result
from sklearn.model_selection import GridSearchCV
alphavalue={"alpha":[1,0.1,0.01,0.001,0.0001,0]}
model=Ridge()
grid=GridSearchCV(estimator=model,param_grid=alphavalue)
grid.fit(x_train, y_train)
print(grid)
print(grid.best_score_)
print(grid.best_estimator_.alpha)
print(grid.best_params_)

GridSearchCV(estimator=Ridge(),
             param_grid={'alpha': [1, 0.1, 0.01, 0.001, 0.0001, 0]})
0.8537678743255576
1
{'alpha': 1}